DENO_COMPLETIONS=":/home/<USER>/.zsh/completions:"
DENO_FPATH="/home/<USER>/.zsh/completions:$FPATH"
PNPM="/home/<USER>/.local/share/pnpm"
WAIFU="wine ~/home/waifu2x-caffe/waifu2x-caffe.exe"
PRX="cd ~/<FOLDER>/<FOLDER-2>/projects"
LESGOW="cd ~/<FOLDER>/Go"
JPMU="~/<FOLDER...>/custom-scripts/jp-launcher"
JPMUU="cd <FOLDER>/Go/menu && go build . && mv test ~/<FOLDER>/Go/jp-launcher && jpmu"
RAKU=~<FOLDER...>/custom-scripts/maintenance.sh "$@"
BUN="/home/<USER>/.bun/_bun"
DENO=. "/home/diego-b/.deno/env"
